.base__design {
  position: relative;
  align-items: center;
  background-color: black;
  color: white;
  bottom: 150px;
  margin-top: 6px;
}

.base__design {
  text-shadow: 0.05em 0 black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black,
    -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black,
    0.05em 0.05em black;
}

.base__tab {
  position: relative;
  height: 20cm;
  margin-bottom: 100px;
}

.base__tab {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}
