.header {
  position: absolute;
  display: flex;
  justify-content: center;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  top: 15px;
}

.header {
  text-shadow: 0.02em 0 white, 0 0.02em white, -0.02em 0 white, 0 -0.02em white,
    -0.02em -0.02em white, -0.02em 0.02em white, 0.02em -0.02em white,
    0.02em 0.02em white;
}

.header__text1 {
  justify-content: space-between;
  display: flex;
  color: white;
}

.header__text2 {
  margin-left: 5px;
}

.header__text > h4 {
  word-spacing: 30px;
}
