.header {
  position: absolute;
  display: flex;
  justify-content: center;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  top: 15px;
}

.header__text {
  justify-content: space-between;
  display: flex;
}

.header__text > h4 {
  word-spacing: 30px;
}
