.videoHeader {
  position: absolute;
  display: flex;
  justify-content: space-between;
  color: white;
  top: 10px;
  width: 95%;
  left: 9px;
  flex-direction: row-reverse;
}

.videoHeader {
  text-shadow: 0.02em 0 white, 0 0.02em white, -0.02em 0 white, 0 -0.02em white,
    -0.02em -0.02em white, -0.02em 0.02em white, 0.02em -0.02em white,
    0.02em 0.02em white;
}

.videoHeader__right {
  position: relative;
  justify-content: center;
  height: auto;
  top: 4px;
}

.videoHeader__left {
  position: relative;
  justify-content: center;
  top: 1px;
}
