.videoHeader {
  position: absolute;
  display: flex;
  justify-content: space-between;
  color: white;
  top: 10px;
  width: 95%;
  left: 9px;
  flex-direction: row-reverse;
}

.videoHeader__right {
  position: relative;
  justify-content: center;
  height: auto;
  top: 4px;
}

.videoHeader__left {
  position: relative;
  justify-content: center;
  top: 1px;
}
