.videoHeader {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 250px;
  right: 10px;
  color: white;
}

.videoHeader__right {
  position: relative;
  justify-content: center;
  height: 10cm;
  margin-bottom: 130px;
  padding-left: 40px;
}

.videoHeader__left {
  position: relative;
  justify-content: center;
  right: 400px;
  bottom: 5px;
  padding-left: 0px;
}
