.videoSidebar {
  position: absolute;
  right: -1px;
  color: white;
  bottom: 100px;
}

.videoSidebar__button {
  padding: 20px;
  text-align: center;
}

.videoSidebar__button {
  text-shadow: 0.02em 0 white, 0 0.02em white, -0.02em 0 white, 0 -0.02em white,
    -0.02em -0.02em white, -0.02em 0.02em white, 0.02em -0.02em white,
    0.02em 0.02em white;
}
